*{
  margin:0;
  padding:0;
  border:1px solid black;
  color:white;
}
/* 헤더 */
header {
  height: 45px;
  background-color:darkred;
}
.header-logo-img{
  position: absolute;
  top:50%;
}
.header-go{
  display: flex;
  justify-content: center;
}
.header-pad{
  flex:1;
}
.header-container{
  width:1100px;
  height:100%;
  margin:auto;
  background-color: darkgray;
  opacity : 0.5;
  display: flex;
  position: relative;
  justify-content: center;

  /* 수평중앙정렬 (건드리지 말기) */
  align-items: center;
}
/* 네비게이션 */
.nav-container{
  width:1100px;
  height:100%;
  margin:auto;
  background-color: darkgray;
  opacity : 0.5;
  display: flex;
  justify-content: space-between;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-go{
  position: absolute;
}
/* cu - 큐레이션 */
.cu-title-head{
  margin-top: 79px;
  background-color:crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cu-fs{
  display: flex;
  position: relative;
  background-color: black;
}
.cu-flag-img{
  position:absolute;
  top:-10px;
  background-color: yellow;
}
.cu-fs ul{
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: brown;
}
.cu-fs--film--container{
  display: flex;
  justify-content: space-between;

}
/* 박스오피스 */
.bo-title-head{
  background-color: aqua;
  opacity: 0.3;
  position: absolute;
  width: 1100px;
  display: flex;
  justify-content: center;
}
.bo-main--rank-poster{
  width: 245px;
  height: 352px;
}
.bo-main--rank-container{
  display: flex;
  justify-content: space-between;
}
.bo-main--menu-container{
  display: flex;
}
.bo-main--menu{
  flex: 1;
  text-align: center;
}
.bo-bottom{
  display: flex;
  justify-content: center;
}
/* 메가박스 인포 */
.mi-main--introduce-container{
  /* display: none; */
  display: flex;
  overflow: hidden;
}
/* 서비스 소개 */
.introduce{
  position: relative;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 10px;
}
.introduce-img{
  width: 100%;
  height: 200%;
}
.introduce-img:hover{
  top:-100%;
  position: absolute;
}
/* 공지 */
.info-notice{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 79px;
  background-color:crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 고객문의 */
.info--ask-containter{
  width: 100%;
  display: flex; 
  overflow: hidden;
  justify-content: space-around;
}
.ask{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.ask a{
  text-decoration-line: none;
}
.ask a:hover{
  text-decoration-line: underline;
}
.ask-img{
  background-color: black;
}
/* 푸터 */
.footer-bottom{
  display: flex;
  justify-content: space-between;
}
.footer-bottom div div p{
  width: fit-content;
  font-size: 10px;
  display: inline-block;
}
/* 각종 설정 */
.div--panel{
  width:1100px;
  height:100%;
  margin:auto;
  background-color: darkgray;
  opacity : 0.5;
}
.div--panel--site-map{
  width:1100px;
  height:100%;
  margin:auto;
  background-color: aqua;
}
.section--box-office{
  height:830px;
  background-color: darkslategray;
}
.section--curation{
  height:830px;
  background-color:indigo;
}
.section--mega-info{
  height:630px;
  background-color: dimgray;
}
.section--site-map{
  height:750px;
  background-color: black;
  display: block;
  /* display: none; */
}
.section--search-theatre{
  height:646px;
  width: 100%;
  background-color: black;
  display: block;
  /* display: none; */
  position: absolute;
  top:-326%;
}
.add{
  /* 광고 */
  height:80px;
  background-color: aquamarine;
  color: black;
  text-align: center;
}
nav{
  height:45px;
  background-color:darkslateblue;
}
main{
  background-color: black;
}
span{
  background-color:darkolivegreen;
}

li{
  list-style-type: none;
}
footer{
  height:200px;
  background-color: darkolivegreen;
}
span div p{
  /* 임시 */
  color: black;
}

.site-map--ul{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.site-map--ul li{
  width: 159px;
}
.site-map--ul li p{
  color: black;
  text-align: center;
}
.site-map--ul li div div{
  width: 159px;
  position: absolute;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;

}
.site-map--ul li div div a{
  font-size: 13px;
}

.cccc{
  fl;
}