
*{
  margin:0;
  padding:0;
  border:1px solid black;
  color:white;
}
section{
  display: flex;
}
header {
  height: 45px;
  background-color:darkred;
}
.header-container{
  width:1100px;
  height:100%;
  margin:auto;
  background-color: darkgray; opacity : 0.5;
  display: flex;
  position: relative;
  justify-content: center;

  /* 수평중앙정렬 (건드리지 말기) */
  align-items: center;
}
.nav-container{
  width:1100px;
  height:100%;
  margin:auto;
  background-color: darkgray; opacity : 0.5;
  display: flex;
  justify-content: space-between;
}
nav{
  height:45px;
  background-color:darkslateblue;
}
div{
  overflow: visible;
}
main{
  background-color: black;
}
span{
  background-color:darkolivegreen;
}
header div div span ul, nav div div ul{
  
}

li{
  list-style-type: none;
}
footer{
  height:200px;
  background-color: darkolivegreen;
}

.add{
  height:80px;
  background-color: aquamarine;
  color: black;
  text-align: center;
}
.bo-main--rank-poster{
  width: 245px;
  height: 352px;
}
.bo-main--rank-container{
  display: flex;
  justify-content: space-between;
}
.bo-main--menu-container{
  display: flex;
}
.bo-main--menu{
  flex: 1;
  text-align: center;
}
.bo-bottom{
  display: flex;
  justify-content: center;
}
.cu-fs--film--container{
  display: flex;
  justify-content: space-between;

}
.mi-main--introduce-container{
  display: flex;  overflow: hidden;
}
.introduce{
  position: relative; width: 170px; height: 170px; overflow: hidden;
  border-radius: 10px;
}
.introduce-img{
  width: 100%;
  height: 200%;

}
.introduce-img:hover{
  top:-100%;
  position: absolute;
}

.info-notice{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 79px;
  background-color:crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info--ask-containter{
  width: 100%;
  display: flex;  overflow: hidden;
  justify-content: space-around;
}
.ask{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.ask a{
  text-decoration-line: none;
}
.ask a:hover{
  text-decoration-line: underline;
}
.ask-img{
  background-color: black;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
}
.footer-bottom div{
}
.footer-bottom div div p{
  width: fit-content;
  font-size: 10px;
  display: inline-block;
}
.div--panel{
  
  width:1100px;
  height:100%;
  margin:auto;
  background-color: darkgray; opacity : 0.5;
}
.section--box-office{
  height:830px;
  background-color: darkslategray;
}
.section--curation{
  height:830px;
  background-color:indigo;

}
.section--mega-info{
  height:630px;
  background-color: dimgray;

}